body {
background-color : MintCream;  
}
.total {
height: 100%;
	width:100%;
	height: 100%;
}

.titre {
	color:red;
	font-style:  Italic;
}

.infoimage {
	width : 80%;
	height: 250px;
	margin-top: 7%;
}

.infos {
	float:  left;
	margin-left: 5%;
	width:48%;
}
#photo {
border-radius: 20%;
}
.image {
	float:  right;
	margin-left: 22%;
	
}
.reste {
float: bottom;
	height:950px;
	margin-left: 2.5%;

}

.formations {
	width:100%;
	    h4 {color:blue;}
		p {color:green;}
}

.onglet{
float: left;
border: solid 3px orange;
padding: 10px;
margin-left: 50px;
background-color : white;
margin-top: 2px;
}

.Entete {
width: 100%;
background-color : green;
height: 50px;
position: fixed !important;
top: 0;
margin-left: 10px;
margin-top: 20px;
}

.experiences {
	width:100%;
	h4 {color:blue;}
	p {color:green;}
}

.formation {
width: 100%;
height: 150px;
}

.annee {
float: left;
width: 25%;
height: 150px;
}
.specia {
float: left;
width: 50%;
height: 150px;
}

.lieu {
float: left;
width: 25%;
height: 150px;
}

.experience {
float: left;
width: 100%;
height: 350px;
}

.date {
float: left;
width: 15%;
height: 350px;
}

.taches {
float: left;
width: 30%;
height: 350px;
}

.poste {
float: left;
width: 25%;
height: 350px;
}
.ville {
float: right;
width: 25%;
height: 350px;
margin-right: 10px;
text-align: right;
}

.hoblangues {
width: 100%;
height: 250px;
}
.hobbys {
float: left;
width: 60%;
height: 250px;
margin-bottom: 5px;
}
.langues {
float: left;
width: 40%;
height: 250px;
margin-bottom: 5px;
}

#expe{
background-color: red;
width:100%;
}
.competence {
width:100%;
float: center;
}

.progress_bar {
background-color : orange;
position: fixed !important;
top: 0;
}
 
.mdl-slider mdl-js-slider{
    background-color: white !important; /* Met le fond de la barre en blanc */
    position: fixed !important; /* Permet de définir la position de la barre comme fixe */
    top: 0; /* Défini la postion de la barre en haut */
    z-index: 200; /* Une valeur élevée ici permet de s'assurer que l'élément est au dessus des autres */
    width: 100vw; /* Défini la largeur de l'élément comme étant 100% de la largeur de l'écran */
}
